<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet"/>
    <link href="https://curio.oli.cmu.edu/style.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Video Player</title>
  </head>
  <body>
    <h2 id="courseTitle"></h2>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span id="close-btn" class="close">&times;</span>
        <div class="modal-header" id="modal-header"></div>
        <div class="modal-tabs">
          <div class="tab active" data-tab="videos">Videos</div>
          <div class="tab" data-tab="practice">Practice</div>
          <div class="tab" data-tab="courses">Courses</div>
          <div class="tab" data-tab="learning-path">Learning Path</div>
        </div>
        <div id="videos" class="tab-content active"></div>
        <div id="practice" class="tab-content"></div>
        <div id="courses" class="tab-content"></div>
        <div id="learning-path" class="tab-content"></div>
      </div>
    </div>
    <div>
      <span>Search mode:</span>
      <input type="radio" id="mode1" name="searchmode" value="0" checked/>
      <label for="mode1">1</label>
      <input type="radio" id="mode2" name="searchmode" value="-1" />
      <label for="mode2">2</label>
      <input type="radio" id="mode3" name="searchmode" value="1" />
      <label for="mode3">3</label>
      &nbsp;
      <input type="text" id="searchInput" placeholder="Keywords">
      <button id="manualSearch" name="searchInput" type="button">Manual Search</button>
      <button id="capture-btn" type="button">Capture & Search</button>
    </div>
    <script src='https://curio.oli.cmu.edu/tesseract.min.js'></script>
    <script src="https://curio.oli.cmu.edu/video.min.js"></script>
    <script type="text/javascript">
      const materials = [];
      materials.push({ video: {{ video | safe }}});
    </script>
    <script type="module" src="https://curio.oli.cmu.edu/player.js"></script>
  </body>
</html>